/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use "vuetify/settings" with (
  $body-font-family: "Amatic SC",
);



.v-main {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #2a2a2a;
  background-size: 20px 20px;
  color: white;
}


.v-toolbar{
  background-color: transparent!important;
  backdrop-filter: blur(5px);
  color: white !important;
}

.v-card {
  background-color: #101314 !important;
  color: white !important;
  }
